<app-alert></app-alert>

<div class="container-fluid">
  <form #myForm="ngForm">
    <div class="row">
      <div class="form-group col-xs-12">
        <label>Your JIRA Base URL you want to sync to: (Include http(s) and a trailing slash "/") </label>
        <div class="urlAndButton">
          <input #jiraUrl="ngModel" class="form-control" type="text" name="jiraBaseUrl"
            [(ngModel)]="jiraBaseUrl" [placeholder]="jiraBaseUrl_example" [pattern]="url_pattern" required />
          <button class="btn btn-link" title="Open Url in new tab" (click)="openUrlInNewTab(jiraBaseUrl)"
            [disabled]="!jiraUrl.valid">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
        </div>
      </div>

      <div class="form-group col-xs-12">
        <button type="submit" class="btn btn-default" [disabled]="!myForm.valid" (click)="saveSettings()">
          <span class="glyphicon glyphicon-floppy-save"></span>
          Save & Test Settings
        </button>
      </div>
    </div>
  </form>
</div>
