<table class="table">
  <tr *ngFor="let entry of timesheetEntries">
    <td class="comment">
      <a *ngIf="entry.hasJiraTicket()"
        href="{{jiraBaseUrl}}browse/{{entry.getJiraTicket()}}?page=com.atlassian.jira.plugin.system.issuetabpanels:worklog-tabpanel"
        target="_blank">{{entry.getJiraTicket()}}: </a>{{entry.getCommentWithoutJiraTicket()}}
    </td>
    <td>{{entry.getHours()}}h</td>
    <td class="harvestJiraIcons">
      <img src="/assets/icons/harvest.png" *ngIf="entry.harvestEntry" />
      <span class="harvest-timer" *ngIf="entry.harvestEntry && entry.harvestEntry.timer_started_at">
        <img src="/assets/icons/harvest_timer.gif" />
      </span>

      <img src="/assets/icons/jira.png" *ngIf="entry.jiraWorklog"
        (mouseover)="trashJiraIcon($event)" (mouseout)="normalJiraIcon($event)"
        (click)="deleteJiraWorklog(entry)" title="Delete JIRA worklog on click!"/>

      <button *ngIf="entry.allowSyncToJira()"  [disabled]="entry.syncing" (click)="copyHarvestToJira(entry)"
          type="button" class="btn btn-default">

        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        Sync to {{entry.harvestEntry.getJiraTicket()}}

      </button>
    </td>
  </tr>
</table>


<button *ngIf="multipleJiraSyncsOffered()" [disabled]="anyEntrySyncing()" (click)="copyAllFromHarvestToJira()"
  type="button" class="btn btn-default syncAll">

  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
  Sync all above Harvest Entries to Jira
</button>
