<table class="table">
  <tr *ngFor="let entry of timesheetEntries">
    <td>
      <a *ngIf="entry.harvestEntry.hasJiraTicket()"
        href="{{jiraBaseUrl}}browse/{{entry.harvestEntry.getJiraTicket()}}?page=com.atlassian.jira.plugin.system.issuetabpanels:worklog-tabpanel"
        target="_blank">{{entry.harvestEntry.getJiraTicket()}}: </a>{{entry.harvestEntry.getCommentWithoutJiraTicket()}}
    </td>
    <td>{{entry.harvestEntry.hours}}h</td>
    <td>
      <img src="/assets/icons/harvest.png" *ngIf="entry.harvestEntry" />
      <span class="harvest-timer" *ngIf="entry.harvestEntry.timer_started_at">
        <img src="/assets/icons/harvest_timer.gif" />
      </span>
      <img src="/assets/icons/jira.png" *ngIf="entry.jiraWorklog" />

      <button *ngIf="entry.allowSyncToJira()"  [disabled]="entry.syncing" (click)="copyHarvestToJira(entry)"
          type="button" class="btn btn-default" aria-label="Left Align">

        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        Sync to {{entry.harvestEntry.getJiraTicket()}}

      </button>
    </td>
  </tr>
</table>
<br/>
Jira Account: {{myJiraAccount.displayName}} ({{myJiraAccount.key}})
