table {
  min-width: 700px;
}

table img{
  width: 30px;
  height: 30px;
}

table td{
  vertical-align: middle;
}

table td.comment{
  white-space: pre-line;
}

table td.harvestJiraIcons{
  white-space: nowrap;
}

span.harvest-timer{
  background: #f78e2b;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
}

span.harvest-timer img{
  width: 20px;
  height: 20px;
  margin: 3px;
}
